{% block neutron_autocomplete_widget %}
{% spaceless %}
<div>
    {{ block('field_widget') }}
    <span class="neutron_autocomplete" style="display:none" data-options="{{ configs|merge({'id': id})|json_encode }}"></span>
</div>
{% endspaceless %}
{% endblock neutron_autocomplete_widget %}

{% block neutron_buttonset_widget %} 
{% spaceless %}
<div id="{{ id }}"> 
    {{ form_widget(form) }} 
    <span class="neutron-buttonset" data-options="{{ configs|merge({'id':id})|json_encode }}" style="display: none"></span>
</div>
    
{% endspaceless %} 
{% endblock neutron_buttonset_widget %} 

{% block neutron_toggle_button_widget %} 
{% spaceless %}

{% set extra = {
    'id': id,
    'checked_label': configs.checked_label|trans({}, translation_domain),
    'unchecked_label': configs.unchecked_label|trans({}, translation_domain),
} %}

<div> 
    {{ form_widget(form) }}
    <span class="neutron-toggle-button" data-options="{{ configs|merge(extra)|json_encode }}" style="display: none"></span>
</div>
    
{% endspaceless %} 
{% endblock neutron_toggle_button_widget %} 

{% block neutron_plain_widget %} 
{% spaceless %}   
<div>
    <p>{{ value|trans({}, translation_domain)|escape }}</p>
</div>
{% endspaceless %} 
{% endblock neutron_plain_widget %} 

{% block neutron_slider_widget %} 
{% spaceless %} 
<div> 
    {{ form_widget(form, { 'attr': {'style': 'display:none'} }) }}
    <span id="neutron-slider-tpl-{{ id }}" class="neutron-slider-tpl">{{ configs.tpl|trans({}, translation_domain) }}</span>
    <div id="neutron-slider-{{ id }}" {% if configs.width is defined %} style="width:{{ configs.width }}
        {% elseif configs.height is defined %} style="height:{{ configs.height }} 
        {% endif %}" >
    </div>
    <span class="neutron-slider" data-options="{{ configs|merge({'id': id})|json_encode}}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_slider_widget %}

{% block neutron_slider_range_widget %}
{% spaceless %}
<div>       
    {{ block('field_rows') }}
    <span id="neutron-slider-range-tpl-{{ id }}" class="neutron-slider-range-tpl">{{ configs.tpl|trans({}, translation_domain) }}</span>
    <div id="neutron-slider-range-{{ id }}" {% if configs.width is defined %} style="width:{{ configs.width }} 
        {% elseif configs.height is defined  %} style="height:{{ configs.height }} 
        {% endif %}" >
    </div>
    <span class="neutron-slider-range" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_slider_range_widget %}

{% block neutron_datepicker_widget %} 
{% spaceless %} 
<span>
    {{ form_widget(form) }}
    <span class="neutron-datepicker" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display: none"></span>
</span>
{% endspaceless %} 
{% endblock neutron_datepicker_widget %} 

{% block neutron_daterangepicker_widget %} 
{% spaceless %} 
<div>
    {{ form_widget(form[configs.first_name]) }}
    {{ form_widget(form[configs.second_name]) }}
    <span class="neutron-daterangepicker" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display: none"></span>
</div>
{% endspaceless %} 
{% endblock neutron_daterangepicker_widget %} 

{% block neutron_timepicker_widget %} 
{% spaceless %} 
<div>
    {{ form_widget(form) }}
    <span class="neutron-timepicker" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display: none"></span>
</div>
{% endspaceless %} 
{% endblock neutron_timepicker_widget %} 

{% block neutron_datetimepicker_widget %} 
{% spaceless %} 
<span>
    {{ form_widget(form) }}
    <span class="neutron-datetimepicker" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display: none"></span>
</span>
{% endspaceless %} 
{% endblock neutron_datetimepicker_widget %} 

{% block neutron_datetimerangepicker_widget %} 
{% spaceless %} 
<div>
    {{ form_widget(form[configs.first_name]) }}
    {{ form_widget(form[configs.second_name]) }}
    <span class="neutron-datetimerangepicker" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display: none"></span>
</div>
{% endspaceless %} 
{% endblock neutron_datetimerangepicker_widget %} 
