{% block neutron_autocomplete_widget %}
{% spaceless %}
<div>
    {{ form_widget(form) }}
    <span class="neutron-autocomplete" style="display:none" data-options="{{ configs|merge({'id': id})|json_encode }}"></span>
</div>
{% endspaceless %}
{% endblock neutron_autocomplete_widget %}

{% block neutron_spinner_widget %}
{% spaceless %}
<div>
    {{ form_widget(form) }}
    <span class="neutron-spinner" style="display:none" data-options="{{ configs|merge({'id': id, 'culture': app.request.locale })|json_encode }}"></span>
</div>
{% endspaceless %}
{% endblock neutron_spinner_widget %}

{% block neutron_buttonset_widget %} 
{% spaceless %}
<div> 
    {{ form_widget(form) }}
    <span class="neutron-buttonset" data-options="{{ configs|merge({'id':id})|json_encode }}" style="display: none"></span>
</div>
    
{% endspaceless %} 
{% endblock neutron_buttonset_widget %} 

{% block neutron_toggle_button_widget %} 
{% spaceless %}

{% set extra = {
    'id': id,
    'checked_label': configs.checked_label|trans({}, translation_domain),
    'unchecked_label': configs.unchecked_label|trans({}, translation_domain),
} %}

<div> 
    {{ form_widget(form) }}
    <span class="neutron-toggle-button" data-options="{{ configs|merge(extra)|json_encode }}" style="display: none"></span>
</div>
    
{% endspaceless %} 
{% endblock neutron_toggle_button_widget %} 

{% block neutron_plain_widget %} 
{% spaceless %}   
<div>
    <p>{{ value|trans({}, translation_domain)|escape }}</p>
</div>
{% endspaceless %} 
{% endblock neutron_plain_widget %} 

{% block neutron_slider_widget %} 
{% spaceless %} 
<div> 
    {{ form_widget(form, { 'attr': {'style': 'display:none'} }) }}
    <span id="neutron-slider-tpl-{{ id }}" class="neutron-slider-tpl">{{ configs.tpl|trans({}, translation_domain) }}</span>
    <div id="neutron-slider-{{ id }}" {% if configs.width is defined %} style="width:{{ configs.width }}
        {% elseif configs.height is defined %} style="height:{{ configs.height }} 
        {% endif %}" >
    </div>
    <span class="neutron-slider" data-options="{{ configs|merge({'id': id})|json_encode}}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_slider_widget %}

{% block neutron_slider_range_widget %}
{% spaceless %}
<div>       
    {{ block('field_rows') }}
    <span id="neutron-slider-range-tpl-{{ id }}" class="neutron-slider-range-tpl">{{ configs.tpl|trans({}, translation_domain) }}</span>
    <div id="neutron-slider-range-{{ id }}" {% if configs.width is defined %} style="width:{{ configs.width }} 
        {% elseif configs.height is defined  %} style="height:{{ configs.height }} 
        {% endif %}" >
    </div>
    <span class="neutron-slider-range" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_slider_range_widget %}

{% block neutron_datepicker_widget %} 
{% spaceless %} 
<span>
    {{ form_widget(form) }}
    <span class="neutron-datepicker" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display: none"></span>
</span>
{% endspaceless %} 
{% endblock neutron_datepicker_widget %} 

{% block neutron_daterangepicker_widget %} 
{% spaceless %} 
<div>
    {{ form_widget(form[configs.first_name]) }}
    {{ form_widget(form[configs.second_name]) }}
    <span class="neutron-daterangepicker" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display: none"></span>
</div>
{% endspaceless %} 
{% endblock neutron_daterangepicker_widget %} 

{% block neutron_timepicker_widget %} 
{% spaceless %} 
<div>
    {{ form_widget(form) }}
    <span class="neutron-timepicker" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display: none"></span>
</div>
{% endspaceless %} 
{% endblock neutron_timepicker_widget %} 

{% block neutron_datetimepicker_widget %} 
{% spaceless %} 
<span>
    {{ form_widget(form) }}
    <span class="neutron-datetimepicker" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display: none"></span>
</span>
{% endspaceless %} 
{% endblock neutron_datetimepicker_widget %} 

{% block neutron_datetimerangepicker_widget %} 
{% spaceless %} 
<div>
    {{ form_widget(form[configs.first_name]) }}
    {{ form_widget(form[configs.second_name]) }}
    <span class="neutron-datetimerangepicker" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display: none"></span>
</div>
{% endspaceless %} 
{% endblock neutron_datetimerangepicker_widget %} 

{% block neutron_colorpicker_widget %}
{% spaceless %}
<div>
    
    {{ form_widget(form, { 'attr': {'style': 'display:none'} }) }}
    <div id="neutron-colorpicker-widget-{{ id }}" class="colorSelector"><div style="background-color: #ffffff;"></div></div>
    <span class="neutron-colorpicker" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_colorpicker_widget %}

{% block neutron_input_limiter_widget %}
{% spaceless %}
{% set extraConfigs = {
    'id': id,
    'remText': 'remText'|trans({}, translation_domain),
    'limitText': 'limitText'|trans({}, translation_domain),
} %}
<div>
    {{ form_widget(form) }} 
    <span class="neutron-input-limiter" data-options="{{ configs|merge(extraConfigs)|json_encode }}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_input_limiter_widget %}

{% block neutron_rating_widget %}
{% spaceless %}
<div>
    {{ form_widget(form, { 'attr': {'style': 'display:none'} }) }}
    <div id="neutron-rating-widget-{{ id }}"></div>
    <span class="neutron-rating" data-options="{{ configs|merge({'id': id})|json_encode }}" style="display:none"></span>
</div>   
{% endspaceless %}
{% endblock neutron_rating_widget %}

{% block neutron_recaptcha_widget %}
{% spaceless %}
<div>

    <div id="{{ id }}" style="display: none;"></div>
  
    <noscript>
        <iframe src="{{ configs.server_url }}/noscript?k={{ configs.public_key }}" width="500" height="300" frameborder="0"></iframe>
        <br />
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
    </noscript>
    <span class="neutron-recaptcha" data-options="{{ configs|merge({'id': id, 'lang': app.request.locale})|json_encode }}" style="display:none"></span>
</div>
{% endspaceless %}
{% endblock neutron_recaptcha_widget %}

{% block neutron_select2_widget %} 
{% spaceless %}
{% set extraConfigs = {
    '_id': id,
    'placeholder': configs.placeholder|trans({}, translation_domain),
} %}
<div> 
    {{ form_widget(form) }}
    <span class="neutron-select2" data-options="{{ configs|merge(extraConfigs)|json_encode }}" style="display: none"></span>
</div>
    
{% endspaceless %} 
{% endblock neutron_select2_widget %} 
